.page-content {
  margin-top: 1em;
  margin-bottom: 1em; }

.table-filters {
  margin-top: 1em;
  margin-bottom: 1em; }

.table-responsive {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em; }

.spinner {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center; }

table.table {
  min-width: 100%; }
  table.table th.filename, table.table th.design {
    width: 146px; }
  table.table.loading {
    opacity: 0.5; }
  table.table.sortable th.sortable:hover {
    cursor: pointer;
    background-color: #efefef; }
  table.table.sortable th.sortable.sorted div {
    position: relative;
    padding-right: 10px; }
    table.table.sortable th.sortable.sorted div:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -4px;
      visibility: hidden; }
  table.table.sortable th.sortable.sorted.sorted-asc div:after {
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: visible; }
  table.table.sortable th.sortable.sorted.sorted-desc div:after {
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: #000 transparent;
    visibility: visible; }
  table.table tbody tr td {
    vertical-align: middle; }
    table.table tbody tr td .thumb-wrapper {
      display: block;
      border: 1px solid #ccc;
      width: 128px;
      height: 128px;
      box-sizing: content-box; }
      table.table tbody tr td .thumb-wrapper .square-thumb {
        display: block;
        width: 100%;
        height: 100%; }
    table.table tbody tr td .design-wrapper img {
      display: block;
      border: 1px solid #ccc;
      max-width: 400px; }

input.ng-invalid {
  border: 1px solid red; }

.pagination a {
  cursor: pointer; }

.row.buttons {
  margin-bottom: 2em; }
  .row.buttons h2 {
    text-align: center; }

.design-background {
  background: url(../images/bg.jpg) center center;
  background-size: cover;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em; }
  .design-background img {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    max-width: 100%;
    max-height: 500px; }
