<nav class="navbar navbar-default" role="navigation" ng-show="logged_in">
	<div class="container">
		<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">People of Tomorrow</a>
	  </div>
	  <div id="navigation" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
					<li ng-show="is('admin') || is('helpdesk')"><a href="#/orders">Orders</a></li>
					<li ng-show="is('admin') || is('helpdesk')"><a href="#/credits">Credits</a></li>
					<li ng-show="is('admin') || is('helpdesk')"><a href="#/designs">Designs</a></li>
					<li ng-show="is('admin') || is('helpdesk')"><a href="#/neighbours">Neighbours</a></li>
					<li ng-show="is('admin') || is('validator')"><a href="#/validate">Validate</a></li>
					<li ng-show="is('admin') || is('helpdesk')"><a href="#/exports">Exports</a></li>
					<li ng-show="is('admin')"><a href="#/users">Manage users</a></li>
			</ul>
			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li><a href="#/logout">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>