<div class="container page-content">
	<h2>Credits ({{total_credits}})</h2>
	<div class="clearfix">
		<a ng-href="{{csvLink()}}" class="btn btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
	</div>
	<div class="table-filters">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<form>
					<div class="input-group">
						<input type="search" class="filter form-control" placeholder="Search..." ng-model="options.search" />
						<span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-md-8">
				<form class="form-inline">
					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.from_date" placeholder="From date" />
					</div>
					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.to_date" placeholder="To date" />
					</div>
					<div class="pull-right">
						<div class="form-group">
							<select class="filter form-control" ng-model="options.filters.with_designs" ng-options="opt.key as opt.title for opt in filters.with_designs" />
						</div>
						<div class="form-group">
							<select class="filter form-control" ng-model="options.filters.type" ng-options="opt.key as opt.title for opt in filters.type" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
		<table id="orders" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
			<thead>
				<tr>
					<th ng-repeat="column in columns" ng-click="column.sortable && sort(column.key)" ng-class="column.key + ' ' + (column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
						<div>{{ column.title }}</div>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="credit in credits">
					<td ng-repeat="column in columns" ng-bind-html="credit.get(column.key)" />
					<td>
						<a class="btn btn-sm btn-primary" href="#/orders/{{credit.order_id}}">Show order</a>
						<button class="btn btn-sm btn-danger" ng-click="deleteCredit(credit.id)"><span class="glyphicon glyphicon-remove"></span> Remove credit</button>
						<button class="btn btn-sm btn-warning" ng-click="deleteDesign(credit.design_id)" ng-show="credit.design_id"><span class="glyphicon glyphicon-remove"></span> Clear design</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<pagination total-items="total_credits" page="options.page" items-per-page="options.items_per_page" max-size="5" boundary-links="true" rotate="false" on-select-page="loadCreditsWithDelay()"></pagination>
</div>