<div class="container page-content">
	<h2>{{ order.attributes.order_id }}</h2>
	<div class="well">
		<div class="row">
			<form role="form">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="order_id">Order ID</label>
						<input type="text" class="form-control" name="order_id" ng-model="order_data.order_id" />
					</div>
					<div class="form-group">
						<label for="transaction_date">Date</label>
						<input type="text" class="form-control" name="transaction_date" ng-model="order_data.transaction_date" />
					</div>
					<div class="form-group">
						<label for="cardholder">Cardholder</label>
						<input type="text" class="form-control" name="cardholder" ng-model="order_data.cardholder" />
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" ng-model="order_data.email" />
					</div>
					<div class="form-group">
						<label for="amount">Amount <span class="text-danger">(in cent)</span></label>
						<input type="text" class="form-control" name="amount" ng-model="order_data.amount" />
					</div>
					<div class="form-group">
						<label for="currency">Currency</label>
						<input type="text" class="form-control" name="currency" ng-model="order_data.currency" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="status">Status</label>
						<input type="text" class="form-control" name="status" ng-model="order_data.status" />
					</div>
					<div class="form-group">
						<label for="paid">Paid</label>
						<input type="text" class="form-control" name="paid" ng-model="order_data.paid" />
					</div>
					<div class="form-group">
						<label for="pay_id">Pay ID</label>
						<input type="text" class="form-control" name="pay_id" ng-model="order_data.pay_id" />
					</div>
					<div class="form-group">
						<label for="language">Language</label>
						<input type="text" class="form-control" name="language" ng-model="order_data.language" />
					</div>
					<div class="form-group">
						<label for="flow">Flow</label>
						<input type="text" class="form-control" name="flow" ng-model="order_data.flow" />
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="#/orders/{{order.id}}" class="btn btn-default">Back to order</a> <button class="btn btn-primary pull-right" ng-click="saveOrder(order.id, order_data)">Save order</button>
			</div>
		</div>
		
	</div>
</div>