<div class="container page-content">
	<h2>Exports</h2>

	<div class="new-export">
		<form role="form" ng-submit="createExport()">
			<div class="form-group">
				<label for="amount">Number of designs</label>
				<input type="number" class="form-control" name="amount" min="1" required="true" ng-model="amount" />
			</div>
      <button class="btn btn-primary">Create new export</button>
    </form>
	</div>
	<div class="table-responsive">
		<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
		<table id="exports" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
			<thead>
				<tr>
					<th ng-repeat="column in columns" ng-click="column.sortable && sort(column.key)" ng-class="column.key + ' ' + (column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
						<div>{{ column.title }}</div>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="export in exports">
					<td ng-repeat="column in columns" ng-bind-html="export.get(column.key)" />
					<td>
						<button class="btn btn-sm btn-danger" ng-click="deleteExport(export.id)"><span class="glyphicon glyphicon-remove"></span> Remove export</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>