<div class="container page-content">
	<div class="row">
		<div class="col-md-6 col-md-push-3">
			<div class="well">
				<h2>Log in</h2>
				<form ng-submit="login()">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" ng-model="username" />
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" ng-model="password" />
					</div>
					<button class="btn btn-primary">Log in</button>
				</form>
			</div>
		</div>
	</div>
</div>