<div class="container page-content">
	<h2>Neighbours ({{total_neighbours}})</h2>
	<div class="clearfix">
		<a ng-href="{{csvLink()}}" class="btn btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
	</div>
	<div class="table-filters">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<form>
					<div class="input-group">
						<input type="search" class="filter form-control" placeholder="Search..." ng-model="options.search" />
						<span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-md-8">
				<form class="form-inline">
<!-- 					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.from_date" placeholder="From date" />
					</div>
					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.to_date" placeholder="To date" />
					</div> -->
<!-- 					<div class="form-group pull-right">
						<select class="filter form-control" ng-model="options.filters.used" ng-options="opt.key as opt.title for opt in filters.used" />
					</div> -->
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
		<table id="orders" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
			<thead>
				<tr>
					<th ng-repeat="column in columns" ng-click="column.sortable && sort(column.key)" ng-class="(column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
						<div>{{ column.title }}</div>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="neighbour in neighbours">
					<td ng-repeat="column in columns" ng-bind-html="neighbour.get(column.key)" />
					<td>
						<button class="btn btn-sm btn-primary" ng-click="sendEmail(neighbour.id)"><span class="glyphicon glyphicon-envelope"></span> Send email with code</button>
						<button class="btn btn-sm btn-danger" ng-click="clearNeighbour(neighbour.id)"><span class="glyphicon glyphicon-remove"></span> Remove neighbour</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<pagination total-items="total_neighbours" page="options.page" items-per-page="options.items_per_page" max-size="5" boundary-links="true" rotate="false" on-select-page="loadNeighboursWithDelay()"></pagination>
</div>