<div class="container page-content">
	<h2>Orders ({{total_orders}}) <button class="btn btn-success" type="button" ng-click="showNewOrderModal()"><span class="glyphicon glyphicon-plus"></span> Create new order</button></h2>
	<div class="clearfix">
		<a ng-href="{{csvLink()}}" class="btn btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
	</div>
	<div class="table-filters">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<form>
					<div class="input-group">
						<input type="search" class="filter form-control" placeholder="Search..." ng-model="options.search" />
						<span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-md-8">
				<form class="form-inline">
					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.from_date" placeholder="From date" />
					</div>
					<div class="form-group">
						<input class="filter date form-control" type="text" ng-model="options.filters.to_date" placeholder="To date" />
					</div>
					<div class="form-group pull-right">
						<select class="filter form-control" ng-model="options.filters.paid" ng-options="opt.key as opt.title for opt in filters.paid" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
		<table id="orders" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
			<thead>
				<tr>
					<th ng-repeat="column in columns" ng-click="column.sortable && sort(column.key)" ng-class="column.key + ' ' + (column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
						<div>{{ column.title }}</div>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td ng-repeat="column in columns" ng-bind-html="order.get(column.key)" />
					<td>
						<a class="btn btn-primary btn-sm" href="#/orders/{{order.id}}">Show details</a>
						<button class="btn btn-danger btn-sm" ng-click="deleteOrder(order.id)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a ng-href="{{orderSummary()}}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-download"></span> Order summary</a>
	<pagination total-items="total_orders" page="options.page" items-per-page="options.items_per_page" max-size="5" boundary-links="true" rotate="false" on-select-page="loadOrdersWithDelay()"></pagination>
	<div id="order-modal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">New order</h4>
		      </div>
		      <form role="form" ng-submit="saveNewOrder()">
			      <div class="modal-body">
			      		<div class="alerts">
			      			<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
								    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
								    {{ alert.message }}
								  </div>
			      		</div>
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" class="form-control" name="name" ng-model="new_order.cardholder" />
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" ng-model="new_order.email" />
								</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button class="btn btn-primary">Create new order</button>
			      </div>
		      </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>