<div class="container page-content">
	<h2>Users ({{users.length}})</h2>

	<div class="row">
		<div class="col-xs-12">
			<div class="clearfix">
				<button class="btn btn-sm btn-primary pull-right" ng-click="newUser()"><span class="glyphicon glyphicon-plus"></span> Create new user</button>
			</div>
			<div class="table-responsive">
				<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
				<table id="users" class="table table-striped table-bordered" ng-class="loading && 'loading'">
					<thead>
						<tr>
							<th ng-repeat="column in columns">
								{{ column.title }}
							</th>
							<th>Roles</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
							<td ng-repeat="column in columns" ng-bind-html="user.get(column.key)" />
							<td>
								<div ng-repeat="role in roles">
									<label><input type="checkbox" ng-model="user.roles[role.key]" ng-change="updateUser(user)" ng-disabled="role.key == 'admin' && user.id == current_user" /> {{ role.title }}</label>
								</div>
							</td>
							<td>
								<button class="btn btn-sm btn-warning" ng-click="editUser(user)"><span class="glyphicon glyphicon-edit"></span> Edit user</button>
								<button class="btn btn-sm btn-danger" ng-click="deleteUser(user)" ng-disabled="user.id == current_user"><span class="glyphicon glyphicon-remove"></span> Delete user</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div id="user-modal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">{{ edit_user.id && 'Edit user' || 'New user'}}</h4>
		      </div>
		      <form role="form" ng-submit="saveUser()">
			      <div class="modal-body">
			      		<div class="alerts">
			      			<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
								    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
								    {{ alert.message }}
								  </div>
			      		</div>
								<div class="form-group">
									<input type="hidden" class="form-control" name="id" ng-model="edit_user.id" />
								</div>
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" name="username" ng-model="edit_user.username" />
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" ng-model="edit_user.email" />
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" name="password" ng-model="edit_user.password" />
								</div>
								<div class="form-group">
									<input type="hidden" class="form-control" name="roles" ng-model="edit_user.roles" />
								</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button class="btn btn-primary">Save user</button>
			      </div>
		      </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>

</div>