<div class="container page-content">
	<h2>{{ order.attributes.order_id }}</h2>
	<div class="row">
		<div class="order-details col-sm-4">
			<div class="well">
				<h3>Order details</h3>
				
				<p>{{ order.attributes.transaction_date }}</p>
				<p>{{ order.attributes.cardholder }}<br />{{ order.attributes.email }}</p>
				<p>{{ order.attributes.amount }}</p>
				<a class="btn btn-default btn-block" href="#/orders/{{order.id}}/edit">Edit</a>
			</div>
		</div>
		<div class="order-credits col-sm-8">
			<div class="well">
				<h3>Credits</h3>
				<div class="clearfix">
					<a ng-href="api/api.php/orders/{{id}}/credits?csv=1" class="btn btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
				</div>
				<div class="row table-filters">
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" type="number" ng-model="newcredit.amount" min="1" />
							</div>
							<div class="col-xs-6">
								<select class="form-control pull-left" ng-model="newcredit.type" ng-options="credit_type for credit_type in credit_types" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control pull-left" type="text" ng-model="newcredit.group_id" ng-show="newcredit.type == 'group'" placeholder="Enter group id" />
							</div>
						</div>
					</div>
					<div class="col-xs-8">
						<button class="btn btn-primary btn-block" ng-click="generateCredit(newcredit.type, newcredit.amount, newcredit.group_id)">Generate {{ newcredit.amount }} {{ newcredit.type }} credit<span ng-show="newcredit.amount != 1">s</span></button>
					</div>
				</div>
				<div class="table-responsive">
					<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
					<table id="credits" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
						<thead>
							<tr>
								<th ng-repeat="column in credit_columns" ng-click="column.sortable && sort(column.key)" ng-class="column.key + ' ' + (column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
									<div>{{ column.title }}</div>
								</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="credit in credits">
								<td ng-repeat="column in credit_columns" ng-bind-html="credit.get(column.key)" />
								<td>
									<button class="btn btn-sm btn-danger" ng-click="deleteCredit(credit.id)"><span class="glyphicon glyphicon-remove"></span> Remove credit</button>
									<button class="btn btn-sm btn-warning" ng-click="deleteDesign(credit.design_id)" ng-show="credit.design_id"><span class="glyphicon glyphicon-remove"></span> Clear design</button>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-hide="noEmail()">
					<button class="btn btn-lg btn-default btn-block" ng-click="sendEmail(order.id)"><span class="glyphicon glyphicon-envelope"></span> Send email with codes to {{order.attributes.email}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<a href="#/orders" class="btn btn-default">Back to orders</a>
		</div>
	</div>
</div>