<div class="container page-content">
	<div ng-hide="finished">
		<div class="row">
			<div class="col-xs-12"><div class="design-background">
				<img ng-src="{{design.filename}}" />
			</div></div>
		</div>
		<div class="row buttons">
			<div ng-show="pending">
				<div class="col-xs-6"><button class="btn btn-lg btn-block btn-danger" ng-click="validate(0)"><span class="glyphicon glyphicon-remove"></span> Reject</button></div>
				<div class="col-xs-6"><button class="btn btn-lg btn-block btn-success" ng-click="validate(1)"><span class="glyphicon glyphicon-ok"></span> Accept</button></div>
			</div>
			<div class="col-xs-12">
				<h2 class="text-success" ng-show="design.data.last_validation == 1">Accepted</h2>
				<h2 class="text-danger" ng-show="design.data.last_validation == 0">Rejected</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="well">
					<h3>Order</h3>
					<p>{{ design.attributes.order_id }}</p>
					<p>{{ design.attributes.transaction_date }}</p>
					<p>{{ design.attributes.cardholder }}<br />{{ design.attributes.email }}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="well">
					<h3>Credit</h3>
					<p>{{ design.attributes.token }}</p>
					<p>{{ design.attributes.type }}<br />{{ design.attributes.group_id }}</p>
					<p>{{ design.attributes.amount }}</p>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="finished">
		<h2>No more designs to validate</h2>
	</div>
</div>