<div class="container page-content">
<!-- 	<div class="clearfix">
		<a ng-href="{{csvLink()}}" class="btn btn-info pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
	</div> -->
	<div class="table-filters">
		<div class="row">

			<div class="col-sm-6 col-md-8">
				<form class="form-inline">
					<div class="form-group">
						<input class="filter form-control" type="text" ng-model="options.filters.flow" placeholder="flow" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<div class="spinner" ng-show="loading"><img src="images/spinner.gif" /></div>
		<table id="orders" class="table table-striped table-bordered sortable" ng-class="loading && 'loading'">
			<thead>
				<tr>
					<th ng-repeat="column in columns" ng-click="column.sortable && sort(column.key)" ng-class="column.key + ' ' + (column.sortable ? 'sortable ' : '') + (options.sort_by === column.key ? 'sorted sorted-' + options.sort_how.toLowerCase() : '')">
						<div>{{ column.title }}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="winner in winners">
					<td ng-repeat="column in columns" ng-bind-html="winner.get(column.key)" />
				</tr>
			</tbody>
		</table>
	</div>
</div>